.container-fluid {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: transparent;
}

.container {
  padding-top: 0.5rem;
  padding-bottom: 9rem;
}

.img-fluid {
  max-width: 370px;
  height: auto;
  padding: 20px;
}
.carousel-item {
  max-width: auto;
  max-height: 820px;
}
.mt {
  margin-top: 0cm;
}
.carouselExampleCaptions {
  background-color: #4d4d4d;
  padding: 0;
  border-radius: 0;
}

.carousel-item {
  height: 25%;
}

body {
  width: 1000;
}
h1 {
  background: #556dcf;
  background: -webkit-linear-gradient(to right, #556dcf 0%, #cf4091 100%);
  background: -moz-linear-gradient(to right, #556dcf 0%, #cf4091 100%);
  background: linear-gradient(to right, #556dcf 0%, #cf4091 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hovereffect {
  margin-top: 10px;
  max-width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}
.hovereffect .overlay {
  width: 100%;
  position: absolute;
  overflow: hidden;
  left: 0;
  top: auto;
  bottom: 0;
  padding: 1em;
  height: 4.75em;
  background: #79fac4;
  color: #6e35d8;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  visibility: hidden;
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
}

.hovereffect:hover img {
  -webkit-transform: translate3d(0, -10%, 0);
  transform: translate3d(0, -10%, 0);
}

.hovereffect h2 {
  text-transform: uppercase;
  border-radius: 25px;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: #6e35d8;
  float: left;
  margin: 0px;
  display: inline-block;
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  margin: 50px 0 0 0;
  background-color: transparent;
}
.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.hovereffect p.icon-links a {
  float: right;
  color: #3c4a50;
  font-size: 1.4em;
}

.hovereffect:hover p.icon-links a:hover,
.hovereffect:hover p.icon-links a:focus {
  color: #252d31;
}

.hovereffect h2,
.hovereffect p.icon-links a {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, 200%, 0);
  transform: translate3d(0, 200%, 0);
  visibility: visible;
}

.hovereffect p.icon-links a span:before {
  display: inline-block;
  padding: 8px 10px;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hovereffect:hover .overlay,
.hovereffect:hover h2,
.hovereffect:hover p.icon-links a {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.hovereffect:hover h2 {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

.hovereffect:hover p.icon-links a:nth-child(3) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.hovereffect:hover p.icon-links a:nth-child(2) {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

.hovereffect:hover p.icon-links a:first-child {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
